
body{
    display: flex;
    justify-content: center;
    background-color: black;
    overflow-x: hidden;
  }

p{
   font-family: "Playfair Display", serif;
}

h1{
   font-family: "Roboto Slab", serif;
}
  .perfil{
    width: 416px;
    height: 953px;
    background-color: #24B3E3;
    top:0;
    position: sticky;
  }

  .perfil img{
    padding: 100px;
    border-radius: 100%;
    
  }

  .perfil{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    text-decoration:underline  black;
  }

  .capa{
    background-color: white;
    width: 652px;
    margin-top: 10px;
  }

.menu ul{
  display: flex;
  width: 500px;
  }



  .btn{
    font-size: 36px;
    text-decoration: none;
    color: black;
    padding: 50px;
  }

  .btn:hover{
    background-color: #24B3E3;
  }

  .branco p{
    color: black;
  }

  .logo{
    display: flex;
    justify-content: space-between;
  }  



  .tabela{
    margin-top: 50px;
  }

  li{
    margin-top: 100px;
    font-size: 24px;
  }

  .diploma{
    padding: 50px;
  }
  h1{
    text-align: center;
    text-decoration: underline;
  }

  .diploma img{
    margin-left: 90px;
    background-color: #24B3E3;
  }

  .sobre{
    text-align: center;
    margin-top: 80px;
  }

  .sobre p{
    font-size: 36px;
  }

  .local iframe{
    margin-left: 80px;
  }

  .link{
  color: #24B3E3;
}

.link:hover{
  color: black;
}



